[Desktop Entry]
Name=Kore OS
X-KDE-PluginInfo-Author=Josh Clark
X-KDE-PluginInfo-Email=https://wsgpolar.me
X-KDE-PluginInfo-Name=Kore
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://wsgpolar.me
X-KDE-PluginInfo-License=GPLv3
