[Desktop Entry]
Type=X-KDE-PLASMA-THEME
Name=Kore SDDM
Comment=Kore OS login screen
Encoding=UTF-8
X-KDE-PluginInfo-Author=Josh Clark
X-KDE-PluginInfo-Email=https://wsgpolar.me
X-KDE-PluginInfo-Name=kore
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://wsgpolar.me
X-KDE-PluginInfo-License=GPLv3
